.profile {
  width: 400px;
  margin: auto;
  border-radius: 10px;
  overflow: hidden;
  background: #fff;
}

.description {
  text-align: center;
}

.avatar {
  width: 70%;
  border-radius: 50%;
}

.name {
  font-size: 26px;
  font-weight: 700;
}

.stats {
  display: flex;
}

.quantity {
  font-weight: 700;
}
